.info-block {
    max-width: 1100px;
    margin: 600px auto 250px;  /* збільшено відступ від верху */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-align: center;
    padding: 0 20px;
    position: relative;
    z-index: 1;

}
/* нормальна таблиця під пошуком */
.price-table {
    width: 100%;
    max-width: 900px;
    margin: 120px auto 60px; /* не лізе під банер */
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding: 20px;
    border-collapse: collapse;
    overflow: hidden;
}

.price-table table {
    width: 100%;
    border-collapse: collapse;
}

.price-table th {
    background: #6cc82b;
    color: #fff;
    padding: 14px;
    font-size: 1.2rem;
    text-align: left;
}

.price-table td {
    padding: 12px 14px;
    font-size: 1rem;
    border-bottom: 1px solid #e4e4e4;
}

.price-table tr:last-child td {
    border-bottom: none;
}

.price-table tr:hover {
    background: #f3ffe8;
}
